@font-face {
	font-family: akbar;
	src: url(akbar.ttf);
	}

body {
	width: 100%;
	background-color: lightskyblue;
	color: black;
	}
	
#main {
	font-family: akbar, Trebuchet MS;
	background-color: gold;
	margin: 30px;
	color: black;
	outline: 1px solid black;
	border: 4px solid white;
	border-radius: 10px;
	padding: 20px 10px 10px 10px;
	font-size: 1.3em;
	text-decoration: outline;
	}
	
td {
	vertical-align: middle;
	}
	
#ranGen {
	padding-top: 5px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: oldlace;
	color: black;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	box-shadow: 0 7px #213a3a;
	}

#ranGen:hover {
	background-color: blanchedalmond;
	transform: rotate(10);
	}
	
#ranGen:active {
	background-color: navajowhite;
	box-shadow: 0 2px black;
	transform: translateY(5px);
	}
	
#randtitle {
	transition: all .5s ease-in-out;
	}